/* CSS Variables
-------------------------------- */
:root {
  --hw-pink: #CC3A8E;
	--url-blue: #0080A4;
	--hw-green: #84bf41;
  --hw-purple: #9B26B6;
  --hw-orange: #E32A0D;
  --hw-blue: #23527c;
}

/* White
-------------------------------- */

body, .navbar {
	background-color: rgba(255,255,255,1.00);
}

footer p, footer a {
	color: rgba(255,255,255,1.00);
}

h1,
.page-header p,
.page-header a,
footer a:hover,
#subfooter h2 {
	color: white;
}


/* Dark blue
-------------------------------- */

footer {
	background-color: #3F7188;
}

#content footer {
	background: none;
	padding: 0px;
}

/* Medium blue
-------------------------------- */

#subfooter {
	background-color: #0F4F6B;
	background: linear-gradient(#3F7188, #0F4F6B);
}

/* Pink
-------------------------------- */

#content a[rel="tag"],
.text-danger, /* Helper class */
.tagline,
.navbar-nav .current-menu-item a,
.navbar-nav .current_page_item a,
.navbar-nav .current-post-ancestor a {
	color: var(--hw-pink);
}

.navbar-nav .current-menu-item a:hover,
.navbar-nav .current-menu-item a:focus,
.navbar-nav .current-post-ancestor a:hover,
.navbar-nav .current-post-ancestor a:focus,
.navbar-nav .current_page_item a:hover,
.navbar-nav .current_page_item a:focus {
  background-color: var(--hw-pink) !important;
  outline: 3px solid var(--hw-pink);
  color: rgba(255,255,255,1.00);
}

/* Text shadow
-------------------------------- */

h1 {
	text-shadow: #004f6b 1px 1px 1px;
}


/* Bootstrap Buttons
-------------------------------- */

.btn {
	border-color: rgba(0,0,0,0.10);
}

.btn-primary {
	background-color: var(--url-blue);
	color: white;
	background-image: none;
	text-decoration: none;
}

.btn-primary:hover {
	background-color: white;
	border-color: var(--url-blue);
	color: var(--url-blue);
	outline: none;
}

.btn:hover:after {
	color: var(--url-blue);
}

.btn-primary:hover:after {
	color: inherit;
}

.page-header .btn-primary {
	background-color: var(--url-blue);
	color: white;
	background-image: none;
	text-decoration: none;
}

.page-header .btn-primary:hover {
	background-color: white;
	color: var(--url-blue);
	border-color: var(--url-blue);
}

/* Bootstrap Buttons for Panels */

.panel-turquoise .btn-primary {
	background-color: #1CFFEF;
	color: white;
	background-image: none;
}

.panel-turquoise .btn-primary:hover {
	background-color: white;
	border-color: #1CFFEF;
	color: #1CFFEF;
}

.panel-orange .btn-primary {
	background-color: var(--hw-orange);
	color: white;
	background-image: none;
}

.panel-orange .btn-primary:hover {
	background-color: white;
	border-color: var(--hw-orange);
	color: var(--hw-orange);
}

.panel-pink .btn-primary {
	background-color: var(--hw-pink);
	color: white;
	background-image: none;
}

.panel-pink .btn-primary:hover {
	background-color: white;
	border-color: var(--hw-pink);
	color: var(--hw-pink);
}

.panel-blue .btn-primary {
	background-color: var(--url-blue);
	color: white;
	background-image: none;
}

.panel-blue .btn-primary:hover {
	background-color: white;
	border-color: var(--url-blue);
	color: var(--url-blue);
}

.panel-green .btn-primary {
	background-color: #0080A4;
	color: white;
	background-image: none;
}

.panel-green .btn-primary:hover {
	background-color: white;
	border-color: #0080A4;
	color: #0080A4;
}

.call-to-action	{
	margin: 2rem 0px;
}

.call-to-action a,
.call-to-action a:visited {
	color:var(--hw-pink);
	font-weight:bold;
	font-size: 1.2em;
}

.call-to-action:visited {
	color:var(--hw-pink);
	font-weight:bold;
	text-decoration:none;
	font-size: 1.2em;
}

.call-to-action a:hover,
.call-to-action a:focus {
	text-decoration: none;
	background-color: var(--hw-pink) !important;
	outline: 3px solid var(--hw-pink);
	color: rgba(255,255,255,1.00);
}


/* Needed?
----------------------------------- */

#commentform label i.fa {
	color: rgba(0,0,0,.50);
}
