/* Forms
----------------------------------- */

form {
	margin: 3rem 0 0 0;
}

form ul {
	-webkit-padding-start: 0px;
}

form li {
	list-style: none;
}

form legend, form label {
	font-family: Bitter, serif;
}

form fieldset {
	margin: 3rem 0;
}

form legend {
	border: none;
}

form label {
	vertical-align: top;
	padding: .5rem 1rem 0 0;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea,
form select {
	padding: 1rem;
	width: 100%;
	letter-spacing: .1rem;
	border: #96df46 1px solid; /* Green */
	border-radius: 5px;
}

form input[type="submit"] {
	background-color: #004f6b; /* Blue */
	color: white;
	border: none;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	font-size: 1.8rem;
	margin-top: 1rem;
}

form input[type="submit"]:hover {
	background-color: var(--hw-pink); /* Pink */
}

/* embedded MC form */
#mailchimp-container {
	background-color: #0080a4;
	margin: 3rem auto;
	border-radius: 5px;
}

#mailchimp-title {
	padding:2rem;
}

#mailchimp-title h2 {
	color:white;
	margin-bottom:0;
}

#mailchimp-form {
	margin: 0 auto;
	width:62%;
	padding:0.5rem;
}

#mailchimp-form-inline {
	padding: 0 2rem 2rem 2rem;
}

#mailchimp-form form#mc-embedded-subscribe-form input[type="email"] {
	box-shadow: 0 10px 18px -13px #000;
	font-family: open sans;
	color: #000;
	font-size: 1.6rem;
	background-color: white;
}

#mce-EMAIL {
	margin-right: 1rem;
}

input#mc-embedded-subscribe.button {
	margin-top: 0;
}

/* embedded Microsoft Forms */
#form-container .office-form-theme-footer {
	display: none !important;
}

/* Search form
------------------------------------------------------------- */

#searchform input[type="submit"] {
	padding: 0px;
	width: 100%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#searchform input[type="search"] {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
}

/* Ajax autocompleting search form
----------------------------------- */
.widget_search {
	background-color: rgb(238,238,238);
	padding: 1rem;
	text-align: center;
	border-radius: 5px;
	margin: 1rem 0.5rem 3rem 0.5rem;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(233,233,233);
}

.widget_search h2 {
	margin-bottom: 1rem;
}

/* PT add - style search box in sidebar */

#sidebar .widget_search {
	border-bottom: 3px solid rgba(0,0,0,0.1);
	border-radius: 0px;
	margin: 0 0 2rem 0;
}

#sidebar .probox .proinput input.orig::placeholder {
	font-size: 1.4rem;
}

/* end */

.widget_search,
.home .widget_search {
	background-color: #0080A4;
	padding: 2rem;
	margin: 0 0 2rem 0;
	border-style: none;
}

div[class*='ajaxsearchpro'] {
	margin: 0 auto !important;
	border-radius: 5px !important;
}

footer .AjaxSearchProWidget h3 {
	display: none;
}

.ajaxsearchpro .results .item .asp_content h3 {
	line-height: inherit !important;
}

.results .item .asp_content h3 a:hover,
div.asp_r.asp_r_1 .results .item .asp_content h3 a:hover,
.ajaxsearchpro .results .item .asp_content h3 a:hover,
.results .item .asp_content h3 a:focus,
div.asp_r.asp_r_1 .results .item .asp_content h3 a:focus,
.ajaxsearchpro .results .item .asp_content h3 a:focus {
	color: white !important;
	outline: 1px solid var(--url-blue);
}

.results .item .asp_content h3 a,
div.asp_r.asp_r_1 .results .item .asp_content h3 a {
	display: inline !important;
	color: var(--url-blue) !important
}

.vertical,
div.asp_r.asp_r_1.vertical {
	border: 1px solid var(--hw-blue) !important;
	padding: 0px !important;
}
/* Gravity Forms
----------------------------------- */

form#gform_1,
form#gform_2 {
	margin-top: 0px !important;
}

ul.gform_fields {
	list-style: none;
	-webkit-padding-start: 0px;
	padding-left: 0px;
	margin-left: 0px;
}

ul.gform_fields li {
	margin: 1rem 0 1rem 0;
}

form .validation_error,
form .validation_message {
	color: var(--hw-pink);
	font-weight: bold;
}

form span.name_first, form span.name_last {
	width: 48%;
}

form span.name_first {
	float: left;
}

form span.name_last {
	float: right;
}

form span label {
	font-weight: normal;
}

form .gfield_required {
	color: var(--hw-pink); /* Pink */
	margin-left: .5rem;
}

.ginput_complex span {
	margin-bottom: 2rem;
}

.gform_description {
	padding-bottom: 2rem;
	display: block;
}

.gform_confirmation_wrapper {
	font-weight: bold;
	margin-top: 3rem;
	font-size: 3rem;
	color: var(--hw-pink); /* Core pink */
}

.g-recaptcha iframe {
	width: 100%;
	margin-top: 0px;
	border-radius: 0px;
	border: none;
}

#gglcptch_error {
	width: 100%;
	font-size: 3rem;
}

.gfield_description {
	font-style: italic;
	padding-bottom: .5rem;
}

#content ul.gfield_checkbox li {
	padding-bottom: 0px;
}

/* PT added */
ul.gfield_checkbox {
	padding-left: 10px;
}

/* End */

ul.gfield_checkbox li label {
	font-family: inherit;
	font-weight: normal;
	padding: 0px;
}

.gfield_required {
	display: none;
}

/* Focus
------------------------------------------------- */

.form-control:focus {
	background-color: rgba(0,0,0,0.06);
	outline: none;
	box-shadow: none;
	color: #000;
	letter-spacing: .1rem;
}

/* Validation
------------------------------------------------- */

#content [aria-required=true] {
	background-image: url(../images/asterisk.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
}

/* PT added */
#content .gfield_hwbucks_privacy [aria-required=true] {
	background-image: url(../images/asterisk.png);
	background-repeat: no-repeat;
	background-position: 99% 60%;
}

#content .gfield_contains_required ul {
	border: var(--hw-pink) 1px solid; /* Pink */
	border-radius: 5px;
}
/* End */

#content [aria-invalid=true],
#content select:required,
#content textarea:required,
#content input:required,
#content .gfield_contains_required input,
#content .gfield_contains_required textarea,
#content .gfield_contains_required select {
	background-image: url(../images/asterisk.png);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	border: var(--hw-pink) 1px solid; /* Pink */
 }

#content select:required,
#content select[aria-required=true] {
	background-position: 94% 50%;
}

#content textarea:required,
#content textarea[aria-required=true] {
	background-position: 98% 10px;
}



/* MailChimp
------------------------------------------------- */

form#mc-embedded-subscribe-form input[type="email"] {
	border: none;
	box-shadow: #5593B0 2px 2px 2px inset;
	color: #0F4F6B;
	font-weight: 700;
	background-color: rgba(255,255,255,.8);
	letter-spacing: .1rem;
	font-size: 1.8rem;
	width: 300px;
	max-width: 100%;
}

form#mc-embedded-subscribe-form input[type="submit"] {
	font-weight: 700;
	background-color: #0F4F6B;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-left: 0;
}

form#mc-embedded-subscribe-form input[type="submit"]:hover {
	background-color: var(--hw-pink); /* pink */
}

form#mc-embedded-subscribe-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3F7188; }
form#mc-embedded-subscribe-form ::-moz-placeholder { /* Firefox 19+ */
  color: #3F7188; }
form#mc-embedded-subscribe-form :-ms-input-placeholder { /* IE 10+ */
  color: #3F7188; }
form#mc-embedded-subscribe-form :-moz-placeholder { /* Firefox 18- */
  color: #3F7188; }

#mc_embed_signup_scroll p {
	margin-top: 3rem;
}

#mc_embed_signup_scroll a {
	color: white;
}

 /* COMMENT FORM
 ---------------------------------------------------- */

#commentform {
 background-color: #f9f9f9;
 padding: 1rem;
}

#commentform a,
.comment-reply-link {
	color: var(--hw-blue);
}

#commentform a:hover,
#commentform a:focus,
.comment-reply-link:hover,
.comment-reply-link:focus {
	color: #FAFAFA;
	background-color: #23527c;
	outline: 3px solid #23527c;
}

/* Enable disable forms */
.gform_wrapper {
    display: inherit !important;
}

.gform_body ul li::before {
	content: none;
}

/* HIDE placeholder text on focus */

::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */
