/* Icons - FontAwesome
----------------------------------- */

.fa.shortcode-icon,
.fas.shortcode-icon,
.fab.shortcode-icon {
	width: 3.5rem;
	font-weight: 700;
	}

.far.shortcode-icon {
	width: 3.5rem;
	font-weight: 400;
	}

.fa.fa-star.fa-lg.shortcode-icon {
	width: auto;
}

.social-icons i {
	margin: 1rem 1.5rem 0 0;
	}

.social-icons i:hover {
	color: #fff;
	}

.mc-icons {
	color: #fff;
	margin-right: 1rem;
}

.tagline i.fa,
.tagline i.fab {
	color: #fff !important;
}

.tagline i.fa:hover,
.tagline i.fab:hover {
	opacity: .7;
}

/* Featured images
------------------------------------ */

.category #content .attachment-thumbnail {
	background: rgba(0,0,0,0.02);
	}
