/* Icons - FontAwesome
----------------------------------- */

.fa.shortcode-icon,
.far.shortcode-icon,
.fab.shortcode-icon {
	width: 3.5rem;
	font-weight: 700;
	}

.social-icons i {
	margin: 1rem 1.5rem 0 0;
	}
	
.social-icons i:hover {
	color: #fff;
	}

.tagline i.fa,
.tagline i.fab {
	color: #fff !important;
}

.tagline i.fa:hover,
.tagline i.fab:hover {
	opacity: .7;
}	
	
/* Featured images
------------------------------------ */

.category #content .attachment-thumbnail {
	background: rgba(0,0,0,0.02);
	}
