/* Media queries
------------------------------------- */

/* Light and Dark mode */

@media (prefers-color-scheme: no-preference) {
	#navbar-brand-alt {
		display: none;
	}
}

@media (prefers-color-scheme: light) {
  #navbar-brand-alt {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
  #navbar-brand {
		display: none;
	}

	#navbar-brand-alt {
		display: block !important;
	}
}

/* LARGE --- lg --- 1,200px and above --- */

@media (min-width: 1200px) {
	.choice-container {
		height: 200px;
	}

	#menu-main {
		margin-top: 9px;
	}

	#nav-spacer {
		padding-bottom: 1.6rem;
	}
}


/* MEDIUM --- md --- 992px and above --- */

@media (min-width: 992px) {
	.no-gutter {
		padding-left: 0px;
		padding-right: 0px;
	}

	/* from hwbucks-scaffold-child style.css */
	.subitem {
		transition: 400ms ease-out 100ms;
		min-height: 215px;
	}

	/* more padding on panels */
	.home .panel {
		padding: 2rem;
	}
}

/* SMALL to MEDIUM --- xs --- 768px and above --- */

@media (min-width: 768px) {
	.author p {
		text-align: right;
	}
}

/* 1199px and below --- */

@media (max-width: 1199px) {
	body {
		padding-top: 142px;
	}

	.navbar-nav > li > a {
		padding-left: .7rem;
		padding-right: .7rem;
		font-size: 1.5rem;
	}

	.navbar-brand img {
		max-width: 160px;
	}

	.navbar {
		padding-bottom: 0rem;
		min-height: 12.7rem;
	}
}

/* SMALL --- sm --- 991px and below --- */

@media (max-width: 991px) {

	#content {
		padding-right: 0px;
	}

	.tagline .email {
		text-align: right;
	}

	.navbar-nav > li > a {
		font-size: 1.4rem;
	}

	h1 {
		font-size: 2rem;
		line-height: 3rem;
	}

	.page-header p {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}

	.social-icons {
		text-align: left;
	}

	#sidebar {
		padding-left:0;
	}

	#service-rating-details {
	  padding-left: 0px;
	}

	#public-rating div:first-child {
	  /*padding-left: 0px;*/
	}
}


/* EXTRA SMALL --- xs --- 768px and below ---
The point at which the nav menu COLLAPSES (vertically stacks)
*/

@media only screen and (max-width: 767px) {
	body {
		padding-top: 13.9rem;
	}

	#sidebar {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-header {
		padding-top: 0px;
	}

	.navbar-brand {
		padding-top: 2rem;
	}

	.navbar-brand img {
		/*max-width: 140px;*/
		padding-left: 1.5rem;
	}

	.navbar-admin {
		padding-top: 46px;
	}

	.navbar-compact #nav-spacer {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.tagline {
		margin-bottom: 0px;
	}

	.tagline .email {
		text-align: left;
	}

	/* Mobile menu */

	.navbar-collapse {
		float: none !important;
		width: 100%;
		margin: auto !important;
	}

	.navbar-collapse li {
		background-color: #3075AD;
		border-bottom: 1px solid #5C9DD1;
	}

	.navbar-collapse a {
		color: white;
		padding: 1rem !important;
	}

	.navbar-collapse li:hover {
		background-color: #5C9DD1;
	}

	.navbar-collapse a:hover,
	.navbar-collapse a:focus {
		color: white !important;
		outline: none;
		background-color: #5c9dd1 !important;
	}

	.navbar-collapse .current-menu-item a {
		outline: none !important;
	}

	#subfooter .text-right {
		text-align: left;
	}

	.lead {
		font-size: 1.8rem;
	}

	.btn,
	input[type="submit"] {
		font-size: 1.4rem !important;
	}

	.date {
		margin-bottom: 1rem;
	}

	.date span {
		display: inline;
	}

	/* signposts menu */
	#signpost-categories ul {
		justify-content: space-between;
	}

	#signpost-categories ul li a {
		font-size: 1.5rem;
	}

	.choice-container .choice-details {
		min-height: 50%;
		background-color: rgb(35, 82, 124, 0.8);
	}

	.choice-container .choice-details .hover-content {
		/* max-height: 20%; */
	  max-height: 500px;
		color:white;
	}

	.choice-container {
		height: 180px;
	}

	/* from structure.css */
	.the-tags-archive a,
	.the-taxonomies-archive a,
	.the-tags p a {
		margin-bottom: 3px;
	}

	.category-terms {
		display:none;
	}

	.home .shade h2 {
		font-size: 2rem;
		padding-bottom: 0px;
	}

	/* from hwbucks-scaffold-child style.css */
	.home .panel h2 {
		font-size: 2.5rem;
		font-weight: 700 !important;
		/* padding: 2rem 0 0 0; */
		line-height: 3rem;
		margin-bottom: 1rem;
	}

	.home .panel .title-link {
		display: inline-block;
		font-size: 2rem;
		font-weight: 700 !important;
		margin-bottom: 1rem;
	}

	.home .panel .city {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.home .panel .panel-title-right,
	.home .panel .panel-content-right {
		padding-left: 0px;
	}

	.visit-date {
		font-size: 1.4rem;
	}

	.service-icon-md {
		width: 80px;
		height: 80px;
	}

	.yarpp-thumbnails-horizontal {
		padding: 0px;
	}

	.yarpp-thumbnail {
		padding: 0.5rem;
	}

	.hidden-xs-img {
		display: none;
	}

	.rating-label,
	.rating {
		padding-right: 0px;
	}

	#HWBucksCommentLogo {
		display: none;
	}
}

/* 480px and below --- */

@media (max-width: 480px) {
	.tagline {
		/* Phil did this
		display: none;
		font-size: 1.1rem;
		line-height: 2rem;
		text-align: left; */
	}

	.navbar-toggle {
		font-size: 2rem;
	}

	h2 {
		font-size: 2rem;
	}

	div[class*='ajaxsearchpro'] ::-webkit-input-placeholder {
		font-size: 1.2rem !important;
		display: none;
	}

	div[class*='ajaxsearchpro'] ::-webkit-input-placeholder:before {
		content:"Text goes here";
		display: inline;
	}

	#text-8 h2{
		padding: 0px;
	}

	.wp-paginate .title {
		 display: block;
	}
}

/* Embedded Mailchimp form */
@media only screen and (max-width: 480px) {
	form#mc-embedded-subscribe-form input[type="submit"] {
		margin-left: 0px;
	}

	#mc_embed_signup_scroll p {
		margin-top: 1rem;
	}
}

/* WordPress admin bar breakpoints!
Annoyingly different from Bootstrap! */

@media only screen and (max-width: 781px) {
	/*WordPress admin bar goes mobile */
	.navbar-admin {
		padding-top: 46px;
	}
}

@media only screen and (max-width: 600px) {
	/*WordPress admin bar no longer fixed */
	.navbar-admin {
		padding-top: 0px;
	}
}

/*
Cookie Notice plugin

The content of the notice wraps around, increasing the height of the notice,
as the screen width decreases. Changes to the content will change the breakpoints
needed to maintain the spacing.

This is horrible and hacky.
*/

@media (min-width: 1200px) {
	#cookie-notice .cookie-notice-visible {
		/* fix the height (roughly based on content */
		height: 96px;
	}

	.cookies-not-set #nav {
		/* this class is placed by the plugin on <body> while the notice shows */
		top: 96px;
	}

	.cookies-not-set {
		/* this is the height of #nav + the height of the notice */
		padding-top: calc(125px + 96px);
	}
}

@media (max-width: 1199px) {
	#cookie-notice .cookie-notice-visible {
		height: 96px;
	}

	.cookies-not-set #nav {
		top: 96px;
	}

	.cookies-not-set {
		padding-top: calc(142px + 96px);
	}
}

@media (max-width: 991px) {
	#cookie-notice .cookie-notice-visible {
		height: 96px;
	}

	.cookies-not-set #nav {
		top: 96px;
	}

	.cookies-not-set {
		padding-top: calc(142px + 96px);
	}
}

@media (max-width: 901px) {
	#cookie-notice .cookie-notice-visible {
		height: 121px;
	}

	.cookies-not-set #nav {
		top: 121px;
	}

	.cookies-not-set {
		padding-top: calc(142px + 121px);
	}
}

@media (max-width: 794px) {
	#cookie-notice .cookie-notice-visible {
		height: 141px;
	}

	.cookies-not-set #nav {
		top: 141px;
	}

	.cookies-not-set {
		padding-top: calc(142px + 141px);
	}
}

@media (max-width: 767px) {
	#cookie-notice .cookie-notice-visible {
		height: 141px;
	}

	.cookies-not-set #nav {
		top: 141px;
	}

	.cookies-not-set {
		padding-top: calc(132px + 141px);
	}
}

@media (max-width: 506px) {
	#cookie-notice .cookie-notice-visible {
		height: 161px;
	}

	.cookies-not-set #nav {
		top: 161px;
	}

	.cookies-not-set {
		padding-top: calc(132px + 161px);
	}
}

@media (max-width: 411px) {
	#cookie-notice .cookie-notice-visible {
		height: 181px;
	}

	.cookies-not-set #nav {
		top: 181px;
	}

	.cookies-not-set {
		padding-top: calc(132px + 181px);
	}
}

@media (max-width: 367px) {
	#cookie-notice .cookie-notice-visible {
		height: 201px;
	}

	.cookies-not-set #nav {
		top: 201px;
	}

	.cookies-not-set {
		padding-top: calc(132px + 201px);
	}
}
