/* Media queries
------------------------------------- */

/* LARGE --- lg --- 1,200px and above --- */

@media (min-width: 1200px) {
	}


/* MEDIUM --- md --- 992px and above --- */

@media (min-width: 992px) {
	.no-gutter {
		padding-left: 0;
		padding-right: 0;
		}

	/* from hwbucks-scaffold-child style.css */
	.subitem {
		transition: 400ms ease-out 100ms;
		min-height: 215px;
		}

	/* more padding on panels */
	.home .panel {
		padding: 2rem;
		}
	}

/* SMALL to MEDIUM --- xs --- 768px and above --- */

@media (min-width: 768px) {
	.author p {
		text-align: right;
	}
}

/* 1024px and below --- */

@media (max-width: 1024px) {
	.navbar-nav > li > a {
		padding-left: .7rem;
		padding-right: .7rem;
		font-size: 1.5rem;
		}
	}

/* SMALL --- sm --- 991px and below --- */

@media (max-width: 991px) {


	.tagline .email {
		text-align: right;
	}

	.navbar-nav > li > a {
		font-size: 1.4rem;
	}

	.navbar-brand img {
		max-width: 160px;
		}

	body {
		padding-top: 12rem !important;
		}

	h1 {
		font-size: 2rem;
		line-height: 3rem;
		}

	.page-header p {
		font-size: 1.8rem;
		line-height: 2.6rem;
		}
	}


/* EXTRA SMALL --- xs --- 768px and below ---
The point at which the nav menu COLLAPSES (vertically stacks)
*/

@media only screen and (max-width: 767px) {
	#content {
		padding-right: 0px;
	}

	#sidebar {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-brand img {
		/*max-width: 140px;*/
		padding-left: 1.5rem;
	}
	/* Mobile menu */

	.tagline .email {
		text-align: left;
	}

	.navbar-collapse {
		float: none !important;
		width: 100%;
		margin: auto !important;
		}

	.navbar-collapse li {
		background-color: #3075AD;
		border-bottom: 1px solid #5C9DD1;
		}

	.navbar-collapse a {
		color: #fff;
		padding: 1rem !important;
		}

	.navbar-collapse li:hover {
		background-color: #5C9DD1;
		}

	.navbar-collapse a:hover {
		color: #fff !important;
		}

	#subfooter .text-right {
		text-align: left;
		}

	.navbar-brand {
		padding-top: 2rem;
		}

	.btn,
	input[type="submit"] {
		font-size: 1.4rem !important;
		}

	.date {
		margin-bottom: 1rem;
		}

	.date span {
		display: inline;
		}
/* PT add */
	#signpost-categories ul {
		justify-content: space-between;
		}

	#signpost-categories ul li a {
		font-size: 1.5rem;
		}

	.choice-container .choice-details {
		min-height: 50%;
		background-color: rgb(35, 82, 124, 0.8);
		}

	.choice-container .choice-details .hover-content {
		/* max-height: 20%; */
	  max-height: 500px;
		color:white;
		}

	/* from structure.css */
	.the-tags-archive a,
	.the-tags p a {
		margin-bottom: 3px;
		}

	.category-terms {
		display:none;
		}

	.home .shade h2 {
		font-size: 2rem;
		padding-bottom: 0px;
		}

	/* from hwbucks-scaffold-child style.css */
	.home .panel h2 {
		font-size: 2.5rem;
		font-weight: 700 !important;
		/* padding: 2rem 0 0 0; */
		line-height: 3rem;
		margin-bottom: 1rem;
		}

	.home .panel .title-link {
		display: block;
		font-size: 2rem;
		line-height: 2.4rem;
		font-weight: 700 !important;
		margin-bottom: 1rem;
		}

	.home .panel .city {
		font-size: 2rem;
		margin-bottom: 1rem;
		}

	.home .panel .panel-title-right,
	.home .panel .panel-content-right {
		padding-left: 0;
		}

	.visit-date {
		font-size: 1.4rem;
		}

	.service-icon-md {
		width: 80px;
		height: 80px;
		}
}

/* 480px and below --- */

@media (max-width: 480px) {
	.tagline {
		/* Phil did this
		display: none;
		font-size: 1.1rem;
		line-height: 2rem;
		text-align: left; */
		}

	.navbar-toggle {
		font-size: 2rem;
		}

	.page-header {
		margin-top: 70px;
		}

	h2 {
		font-size: 2rem;
		}

	div[class*='ajaxsearchpro'] ::-webkit-input-placeholder {
		font-size: 1.2rem !important;
		display: none;
		}

	div[class*='ajaxsearchpro'] ::-webkit-input-placeholder:before {
		content:"Text goes here";
		display: inline;
		}

	/* Phil added these 3 styles */
	.home .widget_search {
		margin: 2rem;
		}

	.home .widget_search:before {
		font-size: 2rem;
		}

	#text-8 h2{
		padding: 0;
		}
	}
