/* Structure
----------------------------------- */

/*
body {
	padding-top: 135px;
}
*/

.page-header {
	background-color: var(--hw-blue);
	padding-bottom: 1rem;
	margin-top: 0px;
	margin-bottom: 2rem;
}

#excerpt {
  margin-bottom: 1rem;
}

.row.page-header h1 {
		padding-bottom: 10px;
		margin-bottom: 0px;
}

#content {
	border-radius: 5px;
	border-top-right-radius: 0px;
	/*padding: 1.5rem 3rem 1rem 0; */
	padding: 1rem 0;
	padding-right: 3rem;
}

.home #content {
	padding-right: 0px;
}

#service {
	padding-left: 0px;
}

/* Signposts ---------------- */

#signposts-selector {
	margin: 2rem 0;
	display: block;
}

#signposts-selector .signpost-container a {
	color: white;
}

#signposts-selector .signpost-container a:hover,
#signposts-selector .signpost-container a:focus {
	background-color: #004F6BD9;
	outline: none;
}

#signpost-categories {
	margin: 2rem 0;
}

#signpost-categories ul {
	-webkit-padding-start: 0px;
	padding-left: 0px;
	/* PT add */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#signpost-categories ul li {
	list-style: none;
	/*display: inline;
	padding-right: 1rem; */
	padding-bottom: 0rem !important;
	margin-right: 1rem;
	font-size: 2rem;
	line-height: 3.6rem;
}

#signpost-categories ul li a {
	font-weight: 400 !important;
	text-decoration: underline;
}

#signpost-categories ul li a:hover {
	font-weight: 400 !important;
	text-decoration: none;
}

.single-signposts article,
.tax-signpost_categories article {
	background-color: rgba(0,0,0,.02);
	padding: .1rem 2rem 2rem 2rem;
	margin-top: 3rem;
}

.single-signposts article h3,
.tax-signpost_categories article h3 {
	padding-top: 1.5rem;
}

.archive-signpost-title h2 {
	margin-top: 20px !important;
}

.archive-signpost-title {
	display: flex;
	justify-content:space-between;
}

span.single-signpost-title {
	font-weight: 400;
}

a.single-signpost-url {
	text-decoration: underline;
}

/* Sidebar ---------------- */

#sidebar {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 1rem;
	padding-right: 0px;
}

.service-type {
	border-bottom: rgba(0,0,0,0.1) 1px dotted;
	padding: 1.5rem 0;
}

.service-type:last-child {
	border: none;
}

/* Posts ---------------- */

#thumbnail-container-body {
	margin-bottom: 2rem;
	padding: 0px;
}

.post {
	 margin-top: 4rem;
	 margin-bottom: 4rem;
	 }

.social-sharing {
	border-top: #CCC 1px dotted;
	margin: 4rem 0;
	padding-top: 3rem;
	font-weight: 600;
}

/*
.yarpp-related {
	background-color: rgba(0,0,0,.02);
	padding: 2rem 1rem 1rem 1rem;
	margin: 4rem 0 0 0 !important;
	text-align: center;
}
*/

.yarpp-related ul {
	list-style: none;
}

.the-tags {
	background-color: rgba(0,0,0,.04);
	padding: 2rem 1rem 1rem 1rem;
	text-align: center;
}

.the-date {
	padding: 1rem;
	background-color: rgba(0,0,0,.04);
}

.the-date p {
	font-family: 'Open Sans', sans-serif;
	line-height: 2.6rem;
	margin-bottom: 0px;
	font-weight: bold;
}
/* Footer ---------------- */

#subfooter {
	margin: 5rem 0 0 0;
}

footer,
#subfooter {
	padding: 5rem 0 5rem 0;
}

footer ul li {
	margin-bottom: 1rem;
}

#copyright {
	padding-top: 3rem;
	padding-bottom: 3rem;
}


/* Comments
----------------------------------- */
.comments-area {
	margin-top: 2rem;
}

.comment-list,
.review {
	padding: 1rem 0;
	background-color: rgba(0,0,0,0.02);
	margin-top: 2rem;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0.04);
}

.comment-body {
	background-color: rgba(0,0,0,.02);
	padding: 1rem;
	margin: 1rem 1rem 0 1rem;
}

.hw-comment {
	padding-left: 1rem;
}

#HWBucksCommentLogo {
	width: 150px;
}

.review .star-rating {
	margin-left: 1rem;
	margin-bottom: 2rem;
}

.review .response {
  padding: 2rem 0 0 2rem;
}

.review .provider blockquote {
	border-left: 3px solid black;
}

.hw-reply-quote {
	font-size: 1.6rem;
	margin: 1rem 1rem 0 1rem;
	padding: 2rem;
	font-style: italic;
	border-left: 3px solid var(--hw-pink);
	background: rgba(0,0,0,0.02);
}

.hw-reply-quote a {
	color: var(--hw-blue);
}

.hw-reply-quote a:hover,
.hw-reply-quote a:focus {
	color: var(--hw-pale-grey);
	background-color: var(--hw-blue);
	outline: 3px solid var(--hw-blue);
}

.vcard-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

/* Static slides
----------------------------------- */

.static-slides {
	padding: 4rem 0;
}

.static-slides .row {
	padding: 2rem 8rem;
}

.static-slides h3 {
	line-height: 3rem;
}

.static-slides .badge {
	float: left;
	background-color: white;
	color: #000;
	padding: .5rem;
	font-weight: bold;
	font-size: 2rem;
	border-radius: 50% 50%;
	min-width: 3rem;
	margin-right: 1rem;
}

/* Images
----------------------------------- */

.wp-post-image,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignright {
	float: right;
}

.aligncenter {
	float: right;
}

#content img {
	border-radius: 5px;
}

img.alignnone,
img.aligncenter {
	margin: 1.5rem 0;
}

img.alignleft {
	float: left;
	padding: 0 2rem 1rem 0;
	border-radius: 5px;
}

img.alignright {
	float: right;
	margin: 0 0 2rem 2rem;
	border-radius: 5px;
}

h2 img.alignright {
	margin-top: .5rem;
}

/* Galleries */


.wp-caption {
}

.wp-caption-text {
}

.gallery-caption {
	padding: 1rem 0;
}

/* Video
----------------------------------- */

.responsive-iframe {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0px;
	margin: 2rem 0;
}

.responsive-iframe iframe{
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

iframe {
	/* forcing width is causing some crappy looking letterboxing on videos with height/width specified.*/
	/* width: 100%;*/
	border-radius: 3px;
	border: solid rgba(0,0,0,0.05) 3px;
}

iframe:hover {
	border: solid rgba(0,0,0,0.3) 3px;
}

/* CQC Widget
----------------------------------- */

#view1 iframe {
	/* Need to force width as default iframe width is huge! */
	width: 100%;
}

/* Power BI iframes
----------------------------------- */

.powerbi iframe {
	/* border: 0px; */
}

.powerbi .panel .panel-body img.alignnone {
  margin: 0;
}

.powerbi .panel {
	margin-bottom: 0px !important;
}

.powerbi .panel.panel-default {
	padding: 1.5rem;
}

/* Bootstrap helper classes
----------------------------------- */

.text-muted {
}



/* ---- LOOP: Local Services Selector ----- */

ul#local-services-selector li {
	padding: .5rem 0;
	border-bottom: 1px dotted #ccc;
}

ul#local-services-selector li a {
	padding: 1.2rem 0;
	display: block;
	font-weight: bold;
}

ul#local-services-selector li:last-child {
	border: none;
}

/* ---- LOOP: Archive Short ----- */

.loop-archive-short ul li {
}

/* ---- LOOP: Taxonomy ----- */

.loop-taxonomy .row {

	margin: 2.5rem 0;
}

/* ---- LOOP -----*/

.loop-default ul,
.loop-default ul li ul {
  list-style: none; /* Remove default bullets */
	padding-left: 2.5rem;
}

.loop-default ul li::before,
.loop-default ul li ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--hw-pink); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
	font-size: 1.5em;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
	vertical-align: text-bottom;
}

.loop-single-service ul {
	padding-left: 2.5rem;
}

/* Links
----------------------------------- */

#content a, footer a {
	font-weight: 600;
}

#content h2 a {
	font-weight: normal;
}

#sidebar .child-menu a {
	text-decoration: none;
}

#sidebar .sidebar-container {
	margin-top: 1.5rem;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#sidebar div:first-child {
	margin-top: 0px;
}

#content a[href*="sharepoint"],
#content a[href$=".pdf"],
#content a[href$="test123"],
#content a.btn-download,
#content a[href$=".doc"],
#content a[href$=".docx"],
#content a[href$=".pptx"] {
	background-color: var(--hw-pale-grey);
	border-radius: 5px;
	/*border-color: var(--hw-purple);*/
	border: 2px solid var(--hw-purple);
	margin: 1rem 0 1rem 0;
	padding: 1.6rem 2rem;
	display: inline-block;
	color: #333;
	text-decoration: none;
}

#content a[href*="sharepoint"]::before,
#content a[href$=".pdf"]::before,
#content a[href$="test123"]::before,
#content a.btn-download::before,
#content a[href$=".doc"]::before,
#content a[href$=".docx"]::before,
#content a[href$=".pptx"]::before {
	padding-right: 1.2rem;
	display: block;
	font-family: 'Font Awesome 5 Pro';
	font-weight: normal;
	font-size: 2rem;
	text-decoration: none;
	float: left;
	/*color: var(--hw-purple);*/
}

#content a[href*="sharepoint"]::before,
#content a[href$="test123"]::before,
#content a.btn-download::before {
	content: "\f381";
	font-weight: 900;
}

#content a[href$=".pdf"]::before {
	content:"\f1c1 ";
	font-weight: 400;
}

#content a[href$=".doc"]::before,
#content a[href$=".docx"]::before {
	content:"\f1c2 ";
	font-weight: 900;
}

#content a[href$=".ppt"]::before,
#content a[href$=".pptx"]::before {
	content:"\f1c4 ";
	font-weight: 900;
}

#content a[href$=".pdf"]::after {
	content: " / PDF";
	color: var(--hw-purple);
	font-family: inherit;
	padding-left: .5rem;
	font-weight: 600;
}

#content a[href$=".doc"]::after,
#content a[href$=".docx"]::after {
	content: " / Word";
	color: var(--hw-purple);
	font-family: inherit;
	padding-left: .5rem;
	font-weight: 600;
}

#content a[href$=".ppt"]::after,
#content a[href$=".pptx"]::after {
	content: " / PowerPoint";
	color: var(--hw-purple);
	font-family: inherit;
	padding-left: .5rem;
	font-weight: 600;
}

#content a[href*="sharepoint"]:hover,
#content a[href$=".pdf"]:hover,
#content a[href$="test123"]:hover,
#content a.btn-download:hover,
#content a[href$=".doc"]:hover,
#content a[href$=".docx"]:hover,
#content a[href$=".pptx"]:hover,
#content a[href*="sharepoint"]:focus,
#content a[href$=".pdf"]:focus,
#content a[href$="test123"]:focus,
#content a.btn-download:focus,
#content a[href$=".doc"]:focus,
#content a[href$=".docx"]:focus,
#content a[href$=".pptx"]:focus {
	text-decoration: none;
	background-color: var(--hw-purple);
	border-color: var(--hw-purple);
	color: white;
	outline: none;
}

#content a[href*="sharepoint"]:hover::before,
#content a[href$=".pdf"]:hover::before,
#content a[href$="test123"]:hover::before,
#content a.btn-download:hover::before,
#content a[href$=".doc"]:hover::before,
#content a[href$=".docx"]:hover::before,
#content a[href$=".pptx"]:hover::before,
#content a[href*="sharepoint"]:hover::after,
#content a[href$=".pdf"]:hover::after,
#content a[href$="test123"]:hover::after,
#content a.btn-download:hover::after,
#content a[href$=".doc"]:hover::after,
#content a[href$=".docx"]:hover::after,
#content a[href$=".pptx"]:hover::after,
#content a[href*="sharepoint"]:focus::before,
#content a[href$=".pdf"]:focus::before,
#content a[href$="test123"]:focus::before,
#content a.btn-download:focus::before,
#content a[href$=".doc"]:focus::before,
#content a[href$=".docx"]:focus::before,
#content a[href$=".pptx"]:focus::before,
#content a[href*="sharepoint"]:focus::after,
#content a[href$=".pdf"]:focus::after,
#content a[href$="test123"]:focus::after,
#content a.btn-download:focus::after,
#content a[href$=".doc"]:focus::after,
#content a[href$=".docx"]:focus::after,
#content a[href$=".pptx"]:focus::after  {
	color: var(--hw-pale-grey);
}

/* Buttons
----------------------------------- */

.cn-button.bootstrap {
	font-size: 1.4rem;
}

.btn {
	letter-spacing: .1rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	white-space: normal;
	font-size: 1.8rem;
	font-weight: 600;
	border: 2px solid;
	padding: 1.2rem;
}

.btn::after {
	content: " \f105";
	font-family: 'Font Awesome 5 Pro';
	padding-left: .5rem;
	font-weight: 900;
	font-size: 2rem;
}

.btn:hover::after {
	color: rgba(255,255,255,.6);
}

.btn-primary {
	letter-spacing: .05rem;
	text-shadow: none;
	font-family: inherit;
	box-shadow: none;
}

.btn-download {
	letter-spacing: 0rem;
	font-size: inherit;
}

.btn.btn-download::after {
  color: var(--hw-purple);
}

.btn.btn-cta {
	color: #fff;
	background: var(--hw-orange);
	text-decoration: none;
	letter-spacing: .05rem;
}

.btn.btn-cta:hover,
.btn.btn-cta:focus {
	color: var(--hw-orange);
	background-color: #fff;
	outline: none;
	border-color: var(--hw-orange);
}

.btn.btn-cta:hover::after {
	color: var(--hw-orange);
}

/* Agnosia Bootstrap Carousel by AuSoft
----------------------------------------------- */

.carousel {
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.home .carousel {
	margin-top: 5rem !important;
}

.carousel img {
	background-size: contain;
	width: 100%;
}

.carousel-caption h2 {
	font-size: 6rem;
	text-transform: uppercase;
	color: rgba(255,255,255,0.80);
	text-align: left;
}

.carousel-control {
	font-size: 12rem;
}


	/* ------ Agnosia Carousel FADE ------ */

    .carousel-inner .item {
            transition-property: opacity;
        }

    .carousel-inner .item,
    .carousel-inner .active.left,
    .carousel-inner .active.right {
            opacity: 0;
        }

            .carousel-inner .active,
            .carousel-inner .next.left,
            .carousel-inner .prev.right {
            opacity: 1;
        }

            .carousel-inner .next,
            .carousel-inner .prev,
            .carousel-inner .active.left,
            .carousel-inner .active.right {
            left: 0px;
            transform: translate3d(0, 0, 0) !important;
        }

    .carousel-control {
        z-index: 2;
    }

/* Tables
------------------------------------ */

#content table {
	width: 100%;
}


/* Media (Bootstrap)
------------------------------------- */

.media {
  background-color: rgba(0,0,0,:;);
	padding: 2rem;
	border-top: 5px solid rgba(0,0,0,0.06);
}

.media h2, .media h3 {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 2rem;
	line-height: 3rem;
}

.media .media-body {
	/* replaces zoom: 1 in bootstrap */
	transform: scale(1);
}

.media-body {
	margin-bottom: 1rem;
}

img.media-object {
	max-width: none;
}

img.media-object {
	border-radius: 50% 50% !important;
	background-color: white;
}

#sidebar img.media-object {
	max-width: 100px;
}


/* Alerts
------------------------------------- */
.alert {
	padding: 1.2rem;
	font-size: 2rem;
	font-weight: 600;
	border-radius: 0;
}

.alert button span {
	font-weight: bold;
}

.alert a {
	color: var(--hw-blue);
}

/* Clips
---------------------------------------- */

#subfooter {
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}


/* Simple Staff List plugin
---------------------------------------- */

.staff-member-info-wrap {
	width: 90% !important;
	float: none !important;
	display: inline-block;
}

.staff-member-info-wrap img {
	float: right !important;
	padding: 0 0 1rem 1rem;
	border-radius: 0px !important;
}

div.staff-member {
	margin-bottom: 2rem;
}

.staff-member-info-wrap h2 {
	margin: 0px;
	padding: 0 0 1rem 0 !important;
}

/* Calendar
---------------------------------------- */

.yarpp-thumbnails-horizontal .yarpp-container {
	background-color: rgba(0,0,0,.04);
	padding: 1rem;
	border: 1px solid rgba(127,127,127,0.1);
}

.yarpp-thumbnail,
.yarpp-related .yarpp-thumbnail-title {
	vertical-align: middle;
	padding-left: 0.5rem;
	color: var(--hw-blue);
	font-size: 100% !important;
	text-decoration: underline !important;
	font-weight: 500 !important;
}

.yarpp-related .yarpp-thumbnails-horizontal h3 {
	margin: 1rem 0;
}

.yarpp-thumbnail.media-left.img-anchor {
  padding: 0.5rem;
}

.yarpp-thumbnail-title:hover,
.yarpp-thumbnail-title:focus {
  outline: none;
	background-color: var(--hw-blue);
	color: White;
	text-decoration: none !important;
}

.yarpp-thumbnail:hover {
  outline: none;
  color: var(--hw-blue);
	text-decoration: underline;
}


/* Signposts */
#signposts-selector,
#feedback-selector,
#children-selector {
	background-color: ;
}

#signposts-selector.row::before,
#feedback-selector.row::before,
#children-selector.row::before {
	display: none;
}

.signpost-container,
.choice-container,
.children-container {
	padding: 1rem 0;
	margin: 0 0 2rem 0;
	background-color: #F7F7F7;
	border: white solid 2px !important;
	text-align: center;
	position: relative;
}

.choice-container {
	padding: 0px;
	height: 250px;
	overflow: hidden;
}

.signpost-container:hover,
.choice-container:hover,
.children-container:hover {
	cursor:pointer;
}

/* transition is for panel OPENING */
.signpost-container:hover .signpost-details,
.choice-container:hover .choice-details,
.children-container:hover .child-details {
	min-height: 50%;
	/* D9 = 85% */
	background-color: #004F6BD9;
	transition: min-height 350ms linear;
}

/* transition is for panel OPENING */
.signpost-container:hover .signpost-details .hover-content,
.choice-container:hover .choice-details .hover-content {
	/* max-height: 20%; */
  max-height: 500px;
  transition: all 350ms linear 350ms;
	color:white;
}

a.signpost-details:focus,
a.choice-details:focus,
a.child-details:focus {
	/* D9 = 85% */
	background-color: #004F6BD9;
	outline: none;
}

.children-container:hover .child-details .hover-content {
	/* max-height: 20%; */
  max-height: 100%;
  transition: all 350ms linear 350ms;
	color:white;
}

.choice-img {
	width: 100%;
	height: auto;
}

.img-signpost-category {
	transition: transform .3s; /* Animation */
	width: 100%;
	height: 100%;
}

.img-signpost-category:hover {
	transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* transition is for panel CLOSING */
.signpost-details,
.choice-details,
.child-details {
background-color: var(--hw-blue);
	min-height: 10%;
	padding: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: start;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	transition: min-height 350ms linear;
	color: white;
	text-decoration: none;
}

.signpost-details:hover,
.choice-details:hover,
.child-details:hover {
	text-decoration: none;
	color: white;
	outline: none;
}

.signpost-details a,
.choice-details a,
.child-details a {
	color: white;
}

.signpost-details p,
.choice-details p,
.child-details p {
	margin:0;
	width:100%;
}

.child-img {
	width: 100%;
}

/* transition is for panel closing */
.signpost-details .hover-content,
.choice-details .hover-content,
.child-details .hover-content {
	max-height: 0px;
	transition: all 100ms linear;
	overflow: hidden;
	font-weight: normal;
	color: #004F6BD9;
}

/* Improved tags and category links */
.post-title,
.category-terms {
	display: inline-block;
}

.post-title h2 {
	margin-bottom: 1rem;
}

.post-title {
	padding-right: 10px;
}

.category-terms {
	vertical-align: top;
}

.category-terms a {
	background-color: rgb(35, 82, 124) !important;
	border: 1px solid darkgray;
	padding: 2px 8px;
	display: inline-block;
	border-radius: 3px;
	color: white !important;
	text-decoration: none !important;
	margin-bottom: 1rem;
}

.category-terms a:hover,
.category-terms a:focus {
	color: rgb(35, 82, 124) !important;
	background-color: white !important;
	text-decoration: none !important;
	outline: none !important;
}

.the-tags p a {
	background-color: white;
	border: 1px solid darkgray;
	padding: 2px 8px;
	display: inline-block;
	border-radius: 3px;
	color: rgb(35, 82, 124) !important;
	margin-bottom: 0.5rem;
}

.the-tags p a:hover,
.the-tags p a:focus {
	color: white !important;
background-color: var(--hw-blue);
	text-decoration: none !important;
}

.the-tags-archive a,
.the-taxonomies-archive a,
.the-tags p a {
	font-size: 1.6rem;
	background-color: var(--hw-hyperlink);
	border: 1px solid darkgray;
	padding: 2px 8px;
	display: inline-block;
	border-radius: 3px;
	color: white !important;
	text-decoration: none !important;
	margin-bottom: 0.4rem;
}

.the-tags-archive a:hover,
.the-taxonomies-archive a:hover,
.the-tags p a:hover,
.the-tags-archive a:focus,
.the-taxonomies-archive a:focus,
.the-tags p a:focus {
	color: var(--hw-hyperlink) !important;
	background-color: white !important;
	outline: none !important;
	text-decoration: none !important;
}

.category-terms a::before,
.the-tags-archive a::before,
.the-taxonomies-archive a::before,
.the-tags p a::before {
	content:"\f022";
	font-family: 'Font Awesome 5 Pro';
	font-weight: 400;
	padding-right: 0.5rem;
}

/* Bootstrap collapse aka accordion */

#accordion.panel-group .panel.panel-default {
	padding: 1.5rem;
}

#accordion.panel-group .panel.panel-default:hover {
	box-shadow: 2px 7px 11px rgba(80, 92, 51, 0.17);
}

.panel-default .panel-heading {
	background-image: none;
background-color: var(--hw-blue);
	transition: 400ms linear 100ms;
}

.panel-default .panel-heading .panel-title .fas.fa-caret-right {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	/* padding rotates with element >< */
	padding: 5px 0px 0px 5px;
	transition: 200ms linear 100ms;
}

.panel-default .panel-heading.collapsed .panel-title .fas.fa-caret-right {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	padding: 0px 5px 0px 0px;
	transition: 200ms linear 100ms;
}

.panel-default .panel-heading.collapsed {
	background-image: none;
background-color: var(--hw-blue);
	opacity: 0.7;
	transition: 400ms ease-out 100ms;
}

.panel-default .panel-heading.collapsed:hover {
	opacity: 1;
}

.panel-heading {
    cursor: pointer;
		border-radius: 3px;
		padding: 8px 15px;
}

.panel-heading h4 {
	padding-top: 0px;
	line-height: 3rem;
	font-size: 18px;
	color: white;
}

.panel-body {
	padding-bottom: 0px;
}

/* No gutters class from https://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */

.row.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

.edit-link {
	min-width: 70px;
	margin: 2rem 0;
	line-height: 3rem;
}

.updated-text,
.published-text {
	color: #999;
	margin: 1rem 0;
}

/* Rules for accessibility */

.screen-reader-text {
	border: 0px;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0px;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

/* Local Services */

#service-contact-details {
	margin-bottom: 2rem;
}

#service-contact-details,
#service-rating-details {
	border: rgba(0,0,0,0.04) 2px solid;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.02);
	padding: 1rem;
}

#service-contact-details a,
#service-rating-details a {
	color: var(--hw-blue);
}

#service-contact-details a:hover,
#service-rating-details a:hover,
#service-contact-details a:focus,
#service-rating-details a:focus {
	color: var(--hw-pale-grey);
	background-color: var(--hw-blue);
	outline: 3px solid var(--hw-blue);
}

#service-rating-details {
  padding-right: 0px;
}

.rating-title {
  padding-left: 0px;
}

.rating-label {
  padding-left: 1rem;
}

#service-rating-details .star-rating,
#service-rating-details .rating-description {
  padding-left: 0px;
}

.loop-single-service {
	/*border-bottom: #999 1px dashed;*/
}

/* Taxonomy archives */

.our-review-block {
  padding: 1rem 0.5rem 0 1rem;
  background: ;
  background-color: var(--hw-pale-grey);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  margin-bottom: 1rem;
}

.user-review-block {
  padding-left: 1rem;
}
