/* --- Fonts --- */

body {
	font-family: 'Poppins','Open Sans', sans-serif;
	color: #111;
}

h1, h2, h3, h4 {
	font-family: Bitter, serif;
}

/* --- Headings --- */

h1 {
	letter-spacing: .1rem;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 600;
}

#subfooter h2 {
	padding-bottom: 0px;
}

#sidebar h3 {
	padding: 0 0 .5rem 0;
}

.post h3 {
	padding: 0 0 .5rem 0;
	margin: 0px;
}

.loop-taxonomy h3 {
	margin-top: .5rem;
}


#sidebar > h2,
#sidebar > .widget h2,
.page #content h2:first-child,
.single #content h2:first-child {
	margin-top: 0px;
	padding-top: 0px;
}


/* Font sizes and line heights
----------------------------------- */

p, li {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

h3 {
	font-size: 1.9rem;
	line-height: 2.6rem;
}

#sidebar h3 {
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.page-header p {
	font-size: 2rem;
	text-shadow: none;
	line-height: 3rem;
	margin-bottom: 0px;
}

input[type="submit"] {
	font-size: 2.4rem;
}

h2 {
	font-size: 2.5rem;
	padding: 0 0 1rem 0;
	/*margin-bottom: 2rem;*/
	line-height: 3rem;
}

#content h2 {
	padding-bottom: 0px;
}

.post h2 {
	padding-top: 0px;
	margin-top: 0px;
}

h3 {
	padding: 2rem 0;
}

footer h3 {
	font-size: 2.4rem;
	padding-bottom: 1rem;
}

#footer-mailchimp h2 {
	color: white;
}

.loop-taxonomy h3 {
	padding: 0 0 0 0;
}

h4 {
	padding-top: 1rem;
	line-height: 2.6rem;
}

footer p, footer li {
	font-size: 1.7rem;
}

p.lead {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.home p.lead {
	border: none;
}


.date {
	padding: 1rem 0;
	margin: auto;
}

.date span {
	font-size: 1.5rem;
	display: block;
}

/* Horizontal rule
----------------------------------- */

hr {
	margin: 3rem 0 2rem 0;
	border-top: #777 1px dashed;
	clear: both;
}

/* Lists
----------------------------------- */

#content ul li,
#content ol li,
#content ul li ul li,
#content ol li ol li {
	padding-bottom: 1rem;
}

#content ul li ul li:first-child {
  padding-top: 1rem;
}

/* Blockquote
----------------------------------- */
blockquote {
	border: none;
	font-size: 1.6rem;
	margin: 2em 0;
	padding: 2rem;
	font-style: italic;
	border-left: 0.5rem solid var(--hw-pink);
	background: #f9f9f9;
}

blockquote a {
	color: var(--hw-blue);
}

blockquote a:hover,
blockquote a:focus {
	color: var(--hw-pale-grey);
 	background-color: var(--hw-blue);
 	outline: 3px solid var(--hw-blue);
}

blockquote br {
	margin: 1rem;
	content: "";
	display: block;
}

.comment blockquote,
.review blockquote {
	font-size: 1.6rem;
	margin: 1rem 1rem 0 1rem;
	padding: 2rem;
	font-style: italic;
	border-left: 3px solid rgb(35, 82, 124);
	background: var(--hw-pale-grey);
}

div.comment-content {
	padding: 2rem;
	background: #f9f9f9;
}

blockquote p:first-child:before,
div.comment-content p:first-child:before {
	content:"\201C";
	margin-right: .5rem;
	font-weight: bold;
	font-family: "Poppins", "Open Sans", sans-serif;
}

blockquote p:last-child:after,
div.comment-content p:last-child:after {
	content:"\201D";
	margin-left: .5rem;
	font-weight: bold;
	font-family: "Poppins", "Open Sans", sans-serif;
}

.response blockquote:after,
.response blockquote:before {
	padding: 0px;
	margin: 0px;
	content: "";
}


/* Links
----------------------------------- */

a {
	color:  var(--hw-blue);
	text-decoration: underline;
}

footer a,
#subfooter a {
	text-decoration: none;
}

.img-anchor {
	color: inherit;
}

footer a:hover,
#subfooter a:hover,
.img-anchor:hover,
.img-anchor:focus {
	text-decoration: underline;
	background-color: inherit !important;
	outline: none !important;
}

a:hover, a:focus {
	background-color: var(--hw-blue);
	color: rgba(255,255,255,1.00);
	outline: 3px solid var(--hw-blue);
	text-decoration: none;
	outline-offset: 0px;
}

/* HW Headings in the loop */
.loop-default h2,
.loop-default h3,
.loop-default h4 {
	font-family: 'Poppins','Open Sans', sans-serif;
}

/* HW Hyperlink in the loop */

.loop-default a {
	color: var(--hw-hyperlink);
}

.loop-default a:hover, .loop-default a:focus {
	background-color: var(--hw-hyperlink);
	color: rgba(255,255,255,1.00);
	outline: 3px solid var(--hw-hyperlink);
	text-decoration: none;
	outline-offset: 0px;
}

/* Don't override WP styles */
#wpadminbar a:hover,
#wpadminbar a:focus {
	outline: 0 !important;
}

 .scaffold-warning-url {
	 color: var(--hw-blue);
 }

 .scaffold-warning-url:hover,
 .scaffold-warning-url:focus {
 	color: var(--hw-pale-grey);
 	background-color: var(--hw-blue);
 	outline: 3px solid var(--hw-blue);
 }

 .date-tooltip {
 	font-weight: bold;
 	text-decoration: none;
 	color: rgb(17, 17, 17);
 }

 .date-tooltip:hover,
 .date-tooltip:active {
 	color: rgb(17,17,17);
 	background-color: transparent;
 	outline: none;
 	cursor: default;
 }

a#recent-feedback-tooltip,
a#overall-feedback-tooltip {
	text-decoration: none;
	color: var(--hw-pink);
}

a#recent-feedback-tooltip:hover,
a#recent-feedback-tooltip:active,
a#recent-feedback-tooltip:focus,
a#overall-feedback-tooltip:hover,
a#overall-feedback-tooltip:active,
a#overall-feedback-tooltip:focus {
	color: white;
	background-color: var(--hw-pink);
	outline: 3px solid var(--hw-pink);
}
