/* Sidebar widgets ---------------- */

.widget ul,
.widget ol {
	-webkit-padding-start: 0;
	padding-left: 0;
	list-style: none;
}

.widget .post-date {
	font-weight: 700;
	display: block;
	color: rgba(0,0,0,0.40);
	font-family: Bitter, serif;
	padding-bottom: .6rem;
}

.widget {
	margin-bottom: 2rem;
}

/* Redundant? Need to check
------------------------------------- */

.widget-posts ul li {
	padding-bottom: 2rem;
	border-bottom: 1px dotted rgba(0,0,0,0.1);
}

.widget-posts ul li:last-child {
	border-bottom: none;
}

/* Recent posts widget
------------------------------------- */

.recent-posts {
	text-align: center;
}

.recent-posts p,
.recent-posts h3,
span.post-date {
	text-align: left;
}

.recent-posts-headliner {
	background-color: #e73e97;
	margin: 7rem 0;
	padding: 1rem 1rem 3rem 2rem;
}

.recent-posts-headliner h2 {
	border-bottom: none !important;
}

.recent-posts-headliner h2 a,
.recent-posts-headliner .lead {
	color: white;
}

.recent-posts-headliner img {
	margin-top: 3rem;
}
